/* Reset CSS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

span {
  font-weight: inherit;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    /* font-family: 'Noto Sans JP', sans-serif; */
/* }

body {
    line-height: 1;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

span {
    font-weight: inherit;
}



ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
} */

/* Clearfix */
/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */
